.ContactsBarContainer {

  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}

.infoContainer {
  display: flex;


}

.infoContainer * {
  margin: 0 10px 0 0px;
}

a {
  color: white;
}

@media screen and (max-width: 430px) {
  .infoContainer {

    flex-direction: column;
  }

}