.MainDescriptionContainer {
  width: 100%;
  background-color: black;
  text-align: center;
}

.cartsContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 50px 0;
  flex-wrap: wrap;
  width: 83%;
  margin: 0 auto;
  background-color: #1d1d1d;
}

.text {
  padding: 30px 0 30px 0;
  font-size: 30px;
  color: red;
}