.mapMainContainer {
  width: 100%;
  background-color: black;
  padding-top: 10px;
  text-align: center;
}

.mapMainContainer h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.mapMainContainer h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.YmapContainer {
  width: 84%;
  height: 300px;
  margin: 0 auto;
  padding-bottom: 100px;
}